.db {
    display: block;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.tick {
    margin-left: 10px;
}

.add-button {
    float: right
}

@media screen and (max-width: 767px) {
    .add-button {
        width: 100%;
    }
    .custom-file-upload {
        width: 100%;
        text-align: center;
    }
}
