.inventory {
    padding-top: 20px;
}
@media screen and (max-width: 421px) {
    .row {
        margin: 0 !important;
    }
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}